$pagebackgroundColor: #c3cfe2;
$textbackgroundColor: #fff;
$textColor: #525252; 
$buttonColor: #686de0; 
$footerColor: #686de0;
$footertextColor: #fff;
$linkColor: #92A9F2; 
$iconColor: #fff;
$sociallinkColor: #fff;